<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>  
  
  
  <head>
    <title>Street Fighter Arcade Locations</title>
    <meta name="description" content="Sequelize SQLite3 Example">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Street Fighter Arcade Locator
      </h1>
    </header>

    <main>
      <p>Add a new machine:</p>
      <form>
        <label for="machines">Choose a machine:</label>
        <select id="machineName" name="machines" onchange="alert(this.value)">
          <option value="SFIII">SF2</option>
          <option value="SFIII">SF3</option>
          <option value="SFIV">SFIV</option>
          <option value="SFV">SFV</option>
          <option value="SF6">SF6</option>
        </select>         
        <input id="streetAddress" type="text" maxlength="100" placeholder="50-52nd Street">
        <input id="cityName" type="text" maxlength="100" placeholder="New York"> 
        <input id="countryName" type="text" maxlength="100" placeholder="United States">        
        <button type="submit">Submit</button>
      </form>
      <p>Users:</p>
      <section class="users">
        <ul id="users">
        </ul>
      </section>
      <p><a href="/reset">Reset</a> | <a href="/clear">Clear</a></p>
    </main>

  </body>
</html>
